:root {
  --primary-color: #bee9ff;
  --border-color: #89cff0;
  --title-color: #555555;
  --primary-dim: #eeeeee;
  --border-dim: #cccccc;
  --section-bg: white;
  --main-bg: #f1f1f1;
}
body {
  margin: 0;
  background-color: var(--main-bg);
}
