.article_box {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.article_circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  background-color: var(--primary-dim);
  border-radius: 50%;
  border: 3px solid var(--border-dim);
  color: var(--title-dim);
}
.article_circle.pointer {
  cursor: pointer;
}
.article_circle.focused {
  background-color: var(--primary-color);
  border: 3px solid var(--border-color);
  color: var(--title-color);
}
.article_circle .main_title {
  color: var(--topic-color);
}
.article_circle .sub_title {
  margin-top: -0.5rem;
}
.arrow-right-with-line {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 4px;
  background-color: black;
}
.arrow-right-with-line::after {
  content: '';
  position: absolute;
  top: -3px;
  right: -3px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid black;
}
